.whole-page-div {
  height: 100vh;
  width: 100vw;
  background-color: #EAEDED;
}

.cart-container9271 {
  display: flex;
  min-width: 842px;
  padding: 20px;
}

.cart-items-container {
  width: 75%;
  background-color: #fff;
  padding: 18px;
}

.cart-items-container h1 {
  margin: 0;
  margin-bottom: 17px;
  padding: 10px 0 30px 0;
  border-bottom: solid #cccccc 1px;
  font-weight: 500;
  font-size: 30px;
}

.cart-subtotal2893 {
  display: flex;
  justify-content: flex-end;
}

.cart-subtotal2893,
.cart-subtotal9281 h3 {
  font-weight: 500;
}

.cart-subtotal2893,
.cart-subtotal9281 .subtotal-span7058 {
  font-weight: 600;
}

.cart-total-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-left: 20px;
  padding: 20px;
  width: 260px;
  min-width: 26px;
  height: fit-content;
}

.cart-total-container .deliveryInstructionsText {
  font-family: inherit;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 5px;
  resize: none;
}

.cart-total-container .deliveryInstructionsText:focus {
  outline: none;
}

.cart-subtotal9281 h3 {
  margin: 0 0 20px 0;
}

.checkout-cart6789 {
  border: solid black 1px;
  border-radius: 20px;
  border-color: #FCD200;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFD814;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  transition: all .1s linear;
}

.checkout-cart6789:hover {
  background: #F7CA00;
  border-color: #F2C200;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
}