@font-face {
  font-family: "Amazon Ember", Arial, sans-serif;
  src: url("./fonts/amazon-font/Ember/Amazon-Ember-Medium.ttf") format('ttf');
}

html {
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #111;
  /* background-color: #EAEDED; */
  box-sizing: border-box;
  line-height: 19px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  box-sizing: border-box;
}