[class='20481'] {
  border-bottom: solid rgba(108, 122, 137, 0.5) 1px;
  padding-bottom: 25px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
}

[class='4014'] {
  width: 350px;
  height: fit-content;
  padding: 26px;
}

.login-form-container {
  border: 1px #ddd solid;
  background-color: #fff;
  border-radius: 4px;
  padding: 26px;
}

.login-form-container h1 {
  margin: 0 0 15px 0;
  font-weight: 500;
}

.login-form input {
  width: stretch;
  margin: 5px 0 8px 0;
  font-family: inherit;
  height: 27px;
  padding: 3px 7px;
  background-color: #fff;
  line-height: normal;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
  outline: 0;
  font-size: 100%;
  transition: all .1s linear;
}

.login-form input:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.login-form label {
  font-size: 13px;
  font-weight: 700;
  color: #111;
  padding-left: 2px;
  padding-bottom: 2px;
}

.login-form button {
  font-family: inherit;
  margin-top: 5px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  color: #111;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  border-width: 1px;
}

.login-form button:hover {
  background: linear-gradient(to bottom, #f5d78e, #eeb933);
}

[class='7788'] {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 18px;
  color: #111;
  -webkit-text-size-adjust: 100%;
  font-weight: 500;
}

[class='27502'] {
  border-top: solid #e7e7e7 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class='27502'] h5 {
  line-height: 1;
  font-size: 12px;
  color: #767676;
  font-weight: 400;
  z-index: 2;
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0 8px 0 7px;
}

[class='27502'] button {
  width: 100%;
  height: 29px;
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  box-shadow: 0 1px 0 rgb(255 255 255 / 60%) inset;
  border-radius: 2px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  font-size: 13px;
}

[class='27502'] button:hover {
  border-color: #a2a6ac #979aa1 #82858a;
  background: #e7e9ec;
}

.form-error {
  color: red;
  opacity: .7;
  font-size: small;
  margin: 0;
}