.order-card-container {
  border: solid #D5D9D9 1px;
  border-radius: 8px;
  width: 915px;
  /* padding: 10px; */
  margin: 0 auto;
  margin-bottom: 20px;
}

.order-card-child1 {
  border-bottom: solid #D5D9D9 1px;
  border-radius: 8px 8px 0 0;
  background-color: #EAEDED;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-card-child1 .update-delivery-instructions {
  font-size: 14px;
  margin-right: 12px;
  cursor: pointer;
  color: #007185;
}

.order-card-child1 .update-delivery-instructions:hover {
  color: #C7511F;
  text-decoration: underline;
}

.order-card-details-container {
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.order-card-details-container .details-order-placed p {
  margin: 3px 0;
  font-size: 12px;
  color: #565959;
}

.order-card-details-container .details-order-placed p+p {
  font-size: 14px;
}

.order-card-details-container .details-total p {
  margin: 3px 0;
  font-size: 12px;
  color: #565959;
}

.order-card-details-container .details-total p+p {
  font-size: 14px;
}

.order-card-details-container .details-ship-to p {
  margin: 3px 0;
  font-size: 12px;
  color: #565959;
}

.order-card-details-container .details-ship-to p+p {
  font-size: 14px;
}

.order-card-child2 {
  margin: 14px 18px 6px 18px;
}

.order-card-child2-text h2 {
  margin: 0px;
  font-size: 20px;
}

.item-details-container6840 {
  margin: 10px;
  padding: 10px;
}

.single-item-container9458 {
  /* border: solid black 1px; */
  margin: 5px;
  display: flex;
  /* justify-content: space-between; */
}

.single-item-container9458 .image-container12738 {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.single-item-container9458 .image-container12738 img {
  max-width: 100%;
  max-height: 100%;
}

.single-item-container9458 .item-info4672 a {
  text-decoration: none;
  color: #007185;
  font-size: 14px;
}

.single-item-container9458 .item-info4672 a:hover {
  text-decoration: underline;
  color: #C7511F;
}

.item-info4672 .product-buy-again {
  margin-top: 15px;
  width: fit-content;
  background-color: #FFD814;
  border-color: #FCD200;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  font-size: 14px;
  padding: 7px 12px;
}

.item-info4672 .product-buy-again:hover {
  cursor: pointer;
  background: #F7CA00;
  border-color: #F2C200;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
}

.order-card-child3 {
  border-top: solid #D5D9D9 1px;
  padding: 10px 20px;
}

.order-card-child3 p {
  width: fit-content;
  margin: 0;
  color: #007185;
  cursor: pointer;
  font-size: 14px;
}

.order-card-child3 p:hover {
  text-decoration: underline;
  color: #C7511F;
}

.order-instructions-container {
  margin-right: 20px;
}

.order-instructions-container a {
  font-size: 14px;
  text-decoration: none;
  color: #007185;
}

.order-instructions-container a:hover {
  text-decoration: underline;
  color: #C7511F;
}