.nav-bar-header {
  background-color: #131921;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-container {
  margin: 0 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3,
i {
  color: #fff;
  margin: 0;
}

.nav-bar-left-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: none;
  width: 250px;
}

.nav-bar-right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: none;
  width: 250px;
}

.nav-bar-logo-container img {
  width: 93px;
  height: 40px;
}


.menu {
  width: 150px;
  display: flex;
  flex-direction: column;
  background: #EAEDED;
}

.menu-item {
  padding: 5px;
  height: 28px;
  border-bottom: 1px solid rgb(187, 187, 187);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item button {
  margin: 0;
  font-family: inherit;
  border: none;
  background: none;
  font-size: 15px;
  opacity: 0.75;
}

.menu-item button:hover {
  cursor: pointer;
  color: #e77600;
}

.nav-bar-user-p {
  margin: 0;
  font-size: 14px;
}

.nav-bar-orders h3 {
  font-size: 14px;
}