.nav-bar-header {
  background-color: #131921;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-container {
  margin: 0 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3,
i {
  color: #fff;
  margin: 0;
}

.nav-bar-left-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: none;
  width: 350px;
}

.nav-bar-right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: none;
  width: 250px;
}

.nav-bar-logo-container {
  width: 180px;
}

.nav-bar-logo-container img {
  width: 93px;
  height: 40px;
}


.menu {
  width: 170px;
  border: 1px #ddd solid;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background: #EAEDED;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px;
}

.menu-item {
  padding: 5px;
  height: 30px;
  /* border-bottom: 1px solid rgb(187, 187, 187); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item button {
  font-family: inherit;
  margin-top: 5px;
  margin-bottom: 8px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  color: #111;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  border-width: 1px;
}

.menu-item button:hover {
  background: linear-gradient(to bottom, #f5d78e, #eeb933);
}

.menu-item button:focus {
  outline: none;
}

.menu-signin-container {
  margin: 8px;
}

.menu-signin-container button {
  font-family: inherit;
  margin-top: 5px;
  margin-bottom: 8px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  color: #111;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  border-width: 1px;
}

.menu-signin-container button:hover {
  background: linear-gradient(to bottom, #f5d78e, #eeb933);
}

.menu-signin-container button:focus {
  outline: none;
}

.menu-signin-container a {
  color: #05a;
  text-decoration: none;
}

.menu-signin-container a:hover {
  text-decoration: underline;
  color: #e77600;
}

.menu-signin-container p {
  margin: 0;
  font-size: 12px;
}

.nav-bar-user {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: 2px;
  padding: 5px;
}

.nav-bar-user:hover {
  cursor: pointer;
  /* border: solid white 1px; */
}

.hello-nav-right {
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 3px;
}

.account-nav-right {
  /* align-self: center; */
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 0.8em;
}

.account-nav-right:hover {
  cursor: pointer;
}

.nav-bar-orders {
  display: flex;
  align-self: flex-end;
  padding-bottom: 2px;
}

.nav-bar-orders h3 {
  font-size: 14px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.nav-bar-orders h3:hover {
  opacity: 0.8;
}

.nav-bar-address-container {
  display: flex;
  width: 300px;
}

.nav-bar-address-container .nav-marker-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1px;
}

.nav-bar-address-container .deliver-to-container {
  /* border: solid white 1px; */
  margin-left: 5px;
}

.deliver-to-container .deliver-to-user {
  font-size: 12px;
  color: #CCCCCC;
}

.deliver-to-container .user-location {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 0.8em;
}

.deliver-to-container .select-your-address a {
  text-decoration: none;
  color: #fff;
}

.nav-bar-cart {
  display: flex;
  cursor: pointer;
  transition: all .1s linear;
}

.nav-bar-cart:hover {
  opacity: 0.8;
}

.nav-bar-cart p {
  align-self: flex-end;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}