.product-reviews-section-container {
  display: flex;
  border-top: solid #cccccc 1px;
  min-width: 750px;
  width: 80vw;
  padding: 40px 0;
}

.reviews-section-child1 {
  height: fit-content;
  width: 300px;
  min-width: 300px;
  margin-right: 50px;
}

.reviews-section-child1 h2 {
  margin: 0;
}

.reviews-section-child1 .overall-rating-stars {
  margin: 10px 0;
}

.reviews-section-child1 .global-review-count {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #565959;
}

.reviews-section-child1 .review-this-product {
  border-top: solid #cccccc 1px;
  border-bottom: solid #cccccc 1px;
}

.reviews-section-child1 .review-this-product h3 {
  margin-top: 27px;
}

.reviews-section-child1 .review-this-product p {
  font-size: 14px;
}

.reviews-section-child1 .review-this-product button {
  height: 30px;
  margin-bottom: 27px;
  width: 300px;
  font-family: inherit;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #FFF;
  border: solid #D5D9D9 1px;
  text-align: center;
}

.reviews-section-child1 .review-this-product button:hover {
  cursor: pointer;
  background-color: #F7FAFA;
  border-color: #D5D9D9;
}

.reviews-section-child1 .review-this-product button:focus {
  background: #EDFDFF;
  border-color: #008296;
}

.reviews-section-child2 {
  width: 880px;
  min-width: 400px;
}

.review-container89023 {
  border-bottom: solid #cccccc 1px;
  margin-bottom: 15px;
}

.review-container89023 .reviewee-name {
  display: flex;
}

.review-container89023 .reviewee-name p {
  margin: 0 10px;
  font-size: 13px;
  align-self: center;
  unicode-bidi: isolate;
}

.reviewee-name .fas {
  color: #a9b7b8;
  font-weight: 900;
  font-size: 30px;
}

.review-container89023 .review-creation-date {
  font-size: 14px;
  color: #565959;
  margin-bottom: 5px;
}

.review-container89023 .verified-purchase {
  margin: 0;
  font-size: 12px;
  color: #C45500;
  cursor: pointer;
  width: fit-content;
}

.review-container89023 .verified-purchase:hover {
  text-decoration: underline;
}

.review-container89023 .review-description2870 {
  margin: 7px 0;
  font-size: 14px;
  line-height: 20px;
  max-width: 70%;
}

.stars-headline-container {
  display: flex;
  margin-top: 6px;
}

.stars-headline-container p {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
}

.review-stars9237 {
  width: fit-content;
}

.review-btn-options297 {
  margin: 15px 0;
  width: fit-content;
}

.review-btn-options297 .edit-review0812 {
  margin-right: 10px;
  font-family: inherit;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #FFF;
  border: solid #D5D9D9 1px;
  text-align: center;
  line-height: 20px;
  width: 70px;
}

.review-btn-options297 .delete-review9027 {
  font-family: inherit;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #FFF;
  border: solid #D5D9D9 1px;
  text-align: center;
  line-height: 20px;
  width: 70px;
}

.review-btn-options297 .edit-review0812:hover {
  cursor: pointer;
  background-color: #F7FAFA;
  border-color: #D5D9D9;
}

.review-btn-options297 .delete-review9027:hover {
  cursor: pointer;
  background-color: #F7FAFA;
  border-color: #D5D9D9;
}

.delete-confirm-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  min-width: 500px;
  border: solid #FFAF38 2px;
  border-left-width: 12px;
  border-radius: 8px;
  padding: 14px 18px 18px 18px;
  margin-bottom: 12px;
  background-color: #fff;
  height: 75px;
}

.delete-confirm-modal .confirm-container82903 {
  display: flex;
}

.confirm-container82903 .fas {
  color: #FFAF38;
  font-size: 18px;
}

.confirm-container82903 h2 {
  margin: 0 10px;
  font-size: 20px;
}

.confirm-btns-container9723 {
  display: flex;
  justify-content: center;
}

.confirm-btns-container9723 .cancel-btn27931 {
  font-family: inherit;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #FFF;
  border: solid #D5D9D9 1px;
  text-align: center;
  line-height: 20px;
  width: 60px;
  margin-right: 15px;
}

.confirm-btns-container9723 .cancel-btn27931:hover {
  cursor: pointer;
  background-color: #F7FAFA;
  border-color: #D5D9D9;
}

.confirm-btns-container9723 .delete-btn81794 {
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  border: solid #FCD200 1px;
  background: #FFD814;
  cursor: pointer;
  text-align: center;
  padding: 0 10px 0 11px;
  font-size: 13px;
  line-height: 29px;
}

.confirm-btns-container9723 .delete-btn81794:hover {
  background-color: #F7CA00;
}